/*------------------------------------*\
    Sizes
\*------------------------------------*/
$bp-s: 400px;
$bp-m: 600px;
$bp-l: 1000px;
$bp-xl: 1300px;
$bp-xxl: 1500px;

$bp-menu: 600px;

$max-width: $bp-l;

// spacing
$spacing: 2em;
$spacing-percent: 3%;		// Used by grid system

/*------------------------------------*\
    Colours
\*------------------------------------*/
$white: #fff;
$black: #000;
$primary: #AEA357;
$secondary: rgb(179, 155, 0);