/*------------------------------------*\
    Sizes
\*------------------------------------*/
$bp-s: 500px;
$bp-m: 700px;
$bp-l: 1000px;
$bp-xl: 1300px;
$bp-xxl: 1500px;

$bp-menu: 600px;

$max-width: $bp-xl;

// spacing
$spacing: 2em;
$spacing-percent: 3%;		// Used by grid system

/*------------------------------------*\
    Colours
\*------------------------------------*/
$white: #fff;
$black: #222;
$primary: #237d8d;
$secondary: #adffff;